<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Movie Search | By Abdellatif Laghjaj</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- Search form -->
            <div class="form-control my-3 w-full">
                <div class="input-group w-full">
                    <input type="text" placeholder="Search movie…" class="input input-bordered w-full" v-model="search">
                    <button class="btn btn-square" @click.prevent="validateSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Error message -->
            <div class="alert alert-error shadow-lg my-2" v-if="error_message">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{error_message}}</span>
                </div>
            </div>
            <!-- Movie Details -->
            <div class="card" v-if="movie">
                <div class="card-header">
                    <img :src="movie.poster" class="w-full" />
                </div>
                <div class="card-body">
                    <div class="details">
                        <div class="tag">
                            <span
                                class="bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900"
                                v-for="genre in movie.genre">
                                {{genre}}
                            </span>
                        </div>

                        <div class="duration">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <polyline points="12 7 12 12 15 15"></polyline>
                            </svg>
                            <span>{{movie.runtime}}</span>
                        </div>
                    </div>
                    <h2 class="text-2xl font-semibold">
                        {{movie.title}}
                    </h2>
                    <p>
                        {{movie.plot}}
                    </p>

                    <div class="authors">
                        <div class="actors">
                            <h2>Actors:</h2>
                            <span class="bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900" v-for="actor in movie.actors">
                                {{actor}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/app.js"></script>
</body>

</html>